server {
    listen       80;
    server_name  localhost;

    #charset koi8-r;
    #access_log  /var/log/nginx/log/host.access.log  main;

    # document root
    #
    location / {
        root   /opt/htdocs;
        index  index.html index.htm;
    }

    # waiting websocket connetion on 127.0.0.1:<%= @wsPort %>
    #
    location /ws/ {
        proxy_pass http://127.0.0.1:<%= @wsPort %>;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}